*{
  margin: 0px;
  padding: 0px;
  box-sizing: content-box;
  font-family: 'Slabo 27px', serif;
}

body{
  /* background-image: url(../images/background.jpeg); */
  background-size: cover;
  background-repeat: no-repeat;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 20vh;
  background-color: #69DAE9;
}

.nav-items{
  display:flex;
  justify-content: space-around;
  list-style: none;
  align-items: center;
  width: 20%;
}

.nav-items a{
  text-decoration: none;
  color: black;
}

.nav-items button{
  background-color: inherit;
  height: 5vh;
  width: 20vh;;
  padding: 2px;
  border-radius: 5px;
  border-style: none;
}

.nav-items button:hover{
  background-color: #E86052;
  border-radius: 5px;
}


.logo img{
  height: 19vh;
  border-radius: 50%;
}

.personal{
  margin-top: 10px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: #E86052;
  border-radius: 15px;
  padding: 10px;
  text-align: center;
  color: white;
  display: block;
}

.col-6 {
  width: 50%;
}

.about{
  margin-top: 10px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  background-color: #049CC4;
  border-radius: 15px;
  padding: 10px;
  text-align: center;
  color: white;
}


.content{
  display: flex;
  padding: 0px;
}

.about div{
  border-radius: 5px;
  margin: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#education{
  justify-content: space-around;
  background-color: #E86052;
}

#experience{
  padding-left: 15px;
  background-color: #69DAE9;
  color: black;
}



#education li{
  margin-left: 250px;;
  list-style: decimal;
  text-align: left;
}

#experience li{
  text-align: left;
}

.my-projects{
  margin-top: 10px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  background-color: #049CC4;
  border-radius: 15px;
  padding: 10px;
}

.my-projects h2{
  text-align: center;
  color: white;
}

.projects{
  display: flex;
  padding: 10px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: no-wrap;
}

.container div {
  width: 50%;
}

.picture {
  background: #E86052;
  margin: 2px;
  border-radius: 15px;
  padding: 10px;
  color: white;
  text-align: center;
}

.text {
  background: #69DAE9;
  margin: 2px;
  border-radius: 15px;
  color: black;
  padding: 10px;
  text-align: center;
}

.contacts{
  background-color: #69DAE9;
  margin-top: 10px;
  padding: 20px;
}

.contacts h2{
  text-align: center;
}

.details{
  display: flex;
  margin-left: 250px;
}

.details div{
  margin: 10px;
}
