*{
  margin: 0px;
  padding: 0px;
  box-sizing: content-box;
  font-family: 'Slabo 27px', serif;
}

body{
  background-image: url(../images/background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.nav-bar{
  padding-top: 10px;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 20vh;
  background-color: #69DAE9;
  border-radius: 15px;
}

.nav-items{
  display:flex;
  justify-content: space-around;
  list-style: none;
  align-items: center;
  width: 30%;
}


.logo img{
  height: 19vh;
  border-radius: 50%;
}

.personal{
  margin-top: 10px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: #E86052;
  border-radius: 15px;
  padding: 10px;
  text-align: center;
  color: white;
  display: block;
}

.col-6 {
  width: 50%;
}

.about{
  margin-top: 10px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: #049CC4;
  border-radius: 15px;
  padding: 10px;
  text-align: center;
  color: white;
}

.content{
  display: flex;
  padding: 0px;
}

.about div{
  border-radius: 5px;
  margin: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#education{
  background-color: #E86052;
}

#experience{
  background-color: #69DAE9;
}
